.input {
	width: 100%;
	padding: 12px 24px;
	max-height: 48px;
	border-radius: 40px;
	border: none;
	background: #FFFFFF;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}

.input::placeholder {
	color: #807C7C;
}
