.btn {
	display: inline-block;
	padding: 15px 32px;
	cursor: pointer;
	transition: var(--transition);
	background: #F2726C;
	border-radius: 30px;
	text-align: center;
	border: none;
	font-weight: 700;
	font-size: 13px;
	line-height: 140%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;

	&:hover {
		background: var(--primary);
	}
}
