.accordion {
	&:not(:first-child) {
		margin-top: 32px;
	}
}

.title {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 40px;
	column-gap: 37px;
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	color: #1E1A20;
	border-top: 1px solid rgba(#1E1A20, 0.2);
	padding-top: 32px;
	cursor: pointer;
	transition: margin 0.6s ease;
}

.title.active {
	margin-bottom: 13px;
}

.flag {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	font-weight: 400;
	background: #F2726C;
	color: #FFFFFF;
	user-select: none;
	cursor: pointer;
}

.content {
	max-width: 460px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #1E1A20;
	overflow: hidden;
	transition: max-height 0.6s ease;
}

@media (max-width: 768px) {
	.accordion {
		&:not(:first-child) {
			margin-top: 24px;
		}
	}

	.title {
		padding-top: 24px;
		font-weight: 600;
		font-size: 18px;
		line-height: 28px;
		color: rgba(#1E1A20, 0.9);
	}

	.content {
		font-size: 15px;
		line-height: 175%;
	}
}
