.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000000, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition);
	pointer-events: none;
	opacity: 0;
	z-index: 2;

	&::after {
		content: "x";
		position: fixed;
		top: 15px;
		right: 30px;
		color: #FFFFFF;
		font-size: 36px;
		cursor: pointer;
		z-index: 3;
	}
}

.content {
	max-width: 600px;
	background: #FFFFFF;
	transition: var(--transition);
	transform: scale(0.5);
}

.modal.active {
	pointer-events: all;
	opacity: 1;
}

.modal.active .content {
	transform: scale(1);
}

@media (max-width: 768px) {
	.content {
		width: 100%;
		margin: var(--offset);
	}

	.content iframe {
		max-width: 100%;
		width: 100% !important;
		height: auto;
		min-height: 300px;
	}
}
