.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000000, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition);
	pointer-events: none;
	opacity: 0;
	z-index: 2;
}

.content {
	max-width: 600px;
	background: #FFFFFF;
	transition: var(--transition);
	transform: scale(0.5);
}

.modal.active {
	pointer-events: all;
	opacity: 1;
}

.modal.active .content {
	transform: scale(1);
}
